<html lang="en">
<head>

    <title>Document</title>
</head>
<body>
    
    <h1> This is my ejs engine learning page</h1>
    <h2>Profile Page</h2>
    hi i'm <%= user.name %> <br>
    I'm from <%= user.city %> <br>
    You can connect me throw the <%= user.email %> 
</body>
</html>